<div class="parent-select-status">
    <select class="form-select select-status" ng-model="selectedStatus"
        ng-options="value as value for (key, value) in statusList">
        <option value="">-- Chọn trạng thái --</option>
    </select>
    <button class="button-filter" id="filter-status">Tìm</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Case</th>
            <th>UID/ Device ID</th>
            <th>Content</th>
            <th>Link Image</th>
            <th>Answer</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in cases">
            <td class="case">
                <p>{{c.case}}</p>
            </td>
            <td class="uid">
                <div ng-repeat="uid in c.uid track by $index">
                    <p>{{uid}}</p>
                </div>
                <div ng-repeat="did in c.device_id track by $index">
                    <p>{{did}}</p>
                </div>
            </td>
            <td>
                <div class="content">
                    <p>{{c.content | limitTo: 200}}
                        <span ng-if="c.content.length > 200"> ... xem thêm</span>
                    </p>
                </div>
            </td>
            <td>
                <ul>
                    <li ng-repeat="link in c.link track by $index" style="list-style: none;">
                        <a href="{{link}}" target="_blank">Image</a>
                    </li>
                </ul>
            </td>
            <td>
                <div class="answer">
                    <p>{{c.answer}}</p>

                    <i class='bx bx-info-octagon' title="Thêm thông tin"></i>
                </div>
            </td>
            <td class="status">{{c.status}}</td>
            <td>
                <button class="btn btn-outline-info">Chi tiết</button>
            </td>
        </tr>
    </tbody>
</table>