body {
    font-family: 'Times New Roman', Times, serif;
}

.parent-select-status {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
    gap: 20px;

    .select-status {
        width: 220px;
        height: 40px;
    }

    .button-filter {
        width: 60px;
        height: 40px;
        border-radius: 10px;
        border: 0.5px solid rgb(40, 140, 255);
        background-color: rgba(255, 0, 0, 0);

        &:hover {
            color: white;
            background-color: rgb(40, 140, 255);
        }
    }
}

.answer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        display: flex;
        width: 90%;
        max-width: 280px;
        height: 100%;
        justify-content: start;
        align-items: center;
        overflow-wrap: break-word;
    }

    i {
        display: flex;
        width: 10%;
        height: 100%;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        width: 90%;
        max-width: 480px;
        height: auto;
        overflow-wrap: break-word;
        word-break: break-word;
        line-height: 1.5;
        font-size: 16px;
        margin: 0;

        span {
            color: gray;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

table thead tr th {
    font-size: 20px;
    text-align: center;
}

table tbody tr td {
    vertical-align: middle;
}

.case,
.uid,
.status {
    text-align: center;
}

.bx-info-octagon {
    font-size: 20px;
    color: dodgerblue;
}

.bx-copy {
    color: gray;
    cursor: pointer;
}

.show-more {
    width: 600px;
    max-height: 350px;
    position: fixed;
    top: 10px;
    left: 50%;
    background-color: white;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 15px;
    opacity: 1;
    z-index: 1000;
}

.des-show-more {
    max-height: 250px;
    overflow-y: auto;
}

.loading-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease;

    .loading-icon {
        width: 50px;
        height: 50px;
        background: transparent;

        animation: spin 1.5s linear infinite;
    }
}

.loading-view.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(170, 170, 170, 0.5);
    z-index: 999;
}

.disable {
    display: none;
}

.enable {
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}